header {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--dark-blue);
    width: 100%;
}

h3 {
    color: white;
    font-size: 2rem;
    margin: 0px;
}

img {
    height: 80px;
}

a {
    display: inline-flex;
    align-items: center;
    column-gap: 10px;
    text-decoration: none;
    color: white;
}

nav {
    margin-right: 20px;
}

ul {
    display: inline-flex;
    column-gap: 15px;
}

li {
    list-style-type: none;
}

.logo-link {
    margin-left: 20px;
}

.hamburger {
    display: inline-flex;
    flex-direction: column;
    row-gap: 5px;
    background-color: transparent;
    border: transparent;
}

.hamburger > span {
    display: inline-block;
    width: 35px;
    height: 4px;
    background-color: white;
    border-radius: 3px;
}

@media only screen and (min-width: 769px) {
    .mobile {
        display: none;
    }

    .overlay {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    nav {
        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        background-color: var(--dark-blue);
        margin: 0px;
        padding: 10px;
        width: 145px;
        z-index: 1;

        transition: right 0.3s ease-out;
    }

    .overlay {
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-color: var(--opaque-grey);
    }

    .overlay.hidden {
        display: none;
    }

    nav.hidden {
        right: -145px;
    }

    ul {
        flex-direction: column;
        row-gap: 15px;
        height: 100%;
        margin: 0px;
        padding: 20px;
    }
}