/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Meedori Sans';
    src: url('../src/assets/fonts/meedori_sans_light.ttf');
    font-weight: 100;
}

@font-face {
    font-family: 'Meedori Sans';
    src: url('../src/assets/fonts/meedori_sans_regular.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Meedori Sans';
    src: url('../src/assets/fonts/meedori_sans_bold.ttf');
    font-weight: 500;
}

:root {
    --dark-blue: #070648;
    --opaque-grey: rgba(33, 33, 33, 0.5);
}

* {
    font-family: 'Meedori Sans';
    font-weight: 300;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    margin: 0px;
}

main {
    width: 80%;
    margin: auto;
}

main > * > div {
    padding: 10px;
}